# Python
__pycache__/
*.py[cod]
*$py.class

# Logs
logs/
*.log

# Results
results/

# Data
data/

# IDE
.vscode/
.idea/

# Environment
.env
venv/
env/

# OS
.DS_Store
Thumbs.db 